.add-supply-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    justify-content: center;
    background-color: white;
}
.add-supply-heading-div{
    display: flex;
    color: black;
    background-color: #A5A5A4;
    justify-content: left;
    align-items: left;
    font-weight: bold;
    padding-left: 15px;
}

.add-supply{
    display: flex;
    flex-direction: column;
    color: black;
    padding: 20px;
    align-items: start;
    max-width: 800px;
}
#add-supply-name{
    width: 400px;
    margin-top: 10px;
}
#add-supply-email{
    width: 400px;
    margin-top: 10px;
}
#add-supply-btn{
    width: 120px;
    background-color: rgb(94, 172, 233);
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    height: 30px;
}
.form-info-div{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border-radius: 20px;
    
}
@media screen and (max-width: 1024px) {
    .add-supply-main{
        width: 400px;
    }
    #add-supply-name{
        width: auto;
    }
}