.stock-main-first{
    display: flex;
    flex-direction: column;
  
    width: 1000px;
    height: 100vh;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 140px;
    background-color: white;
    justify-content: left;
    align-items: flex-start;
    box-shadow: 0 2px 4px rgb(216, 216, 216);
}
.stock-summary{
    display: flex;
    color: white;
    width: 1000px;
    box-shadow: 0 2px 4px rgb(232, 232, 232);
    height: 40px;
    background-color: #A5A5A4;
    justify-content: left;
    align-items:center ;
    font-family: 'Times New Roman', Times, serif;
}
hr {
    border: none;
    border-top: 1px solid rgb(45, 45, 45);
    margin: 20px 0;
  }
.value-lable{
    display: flex;
    flex: 1;
    color:black ;
}
.value-div{
    display: flex;
    margin-left: 20px;
}
.search-box{
    display: flex;
    flex: 1;
    margin-right: 20px;
    
}
.search-lable{
    display: flex;
    flex: 1;
    color: black;
    justify-content: right;
    margin-top: 7px;
    margin-right: 10px;
}
.second-div-stock{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.image-stock{
    width: 1000px;

}
.image-database{
    width: 1000px;
}
.list-stock{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 100%;
    color: black;
    margin-top: 20px;
}
.table-head{
    border: 2px solid black;
}
@media screen and (max-width: 1024px) {
    .stock-main-first{
        width: auto;
        flex-wrap: wrap;
        height: 100vh;
    }
    .stock-summary{
        font-size: 3vw;
    }
    .value-lable{
        font-size: 3vw;
    }
    .search-lable{
        font-size: 3vw;
    }
}
