.navbar{
    display: flex;
    flex-direction: row;
    background-color: #414040;
    height: 50px;
    width: 100%;
    position: fixed;
    padding: top 0;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    

}
.k-heading-sidebar{
    display: flex;
    flex-direction: row;
}
#navbar-heading{
    color: white;
    font-size: 30px;
    justify-content: left;
    margin-left: 30px;
    font-weight: 500;
    margin-right: 20px;
    align-items: center;
}
.menu-btn{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    margin-right: 1rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-top:30px;
    align-self: flex-start;
}
.main-user{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}
#main-user-text{
    color: white;
    font-weight: 300;
}
#account-image{
    width: 30px;
    height: 30px;
    border-radius: 18px;
    margin-right:10px ;
}
