.sidebar{
    width: 250px;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: space-between; 
    transition: transform 0.3s ease;
    z-index: 90;
    
}
.sidebar-content{
    transition: all 0.3 ease;
    height: 100vh;
    background-color: #A5A5A4;
    position: relative;
    
}
.sidebar-content.hidden{
    width: 0;
    overflow: hidden;
}
.sidebar-content ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    text-decoration: none;
    background-color:#A5A5A4 ;
    width: 100%;
}
.sidebar-content ul li{
    display: flex;
    /* margin-top: 20px; */
    margin-bottom: 30px;
    background-color:#A5A5A4 ;
    width: 100%;
}
.sidebar-lable{
    color: #131214;
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(10px, 2.5vw, 20px);
    width: 100%;
    padding: 20px;
}
.sidebar-lable:hover{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
.sidebar-content-list ul li{
    margin-left: 0px; 
    border-bottom: 1px solid #414040;
}
a{
    color: white;
    text-decoration: none;
}
/* .sidebar-content ul li:hover{
    background-color: #414040;
    color: #ffff;
    font-weight: bold;
    align-items: left;
    cursor: pointer;
} */
.sidebar-link.active{
    /* background-color: #414040; */
    color: #ffff;
    font-weight: bold;
    width: 100%;
    align-items: left;
}
.k-logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 30px;
}
.dropdown {
    list-style: none;
    padding-left: 20px; 
    margin-top: 10px;  
}
.dropdown ul li{
    /* background-color: #7F7F7D; */
    color: #131214;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    
}  
.dropdown li a {
    display: flex;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(10px, 2.5vw, 15px);

}
.sidebar-opt-imgs{
    width: 20px;
    height: 20px;
}
.sidebar-link.active {
  background-color: white;
  color: #131214;
  font-weight: bold;
  border-radius: 4px;
}
@media screen and (max-width:1024px) {
    .sidebar-content{
        height: 100%;
    }
    .sidebar-lable{
        font-size: 25px;
    }
}
