.sidebar{
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    display: flex;
    transition: transform 0.3s ease;
    

}
.sidebar-content{
    transition: all 0.3 ease;
    height: 100%;
    background-color: rgb(188, 217, 249);
}
.sidebar-content.hidden{
    display: none;
}
.sidebar-content ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}
.sidebar-content ul li{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    
}
.k-logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 30px;
}
